<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
	<ui:composition>
		<p:panel style="width:100%; text-align:center">
			<h:panelGrid width="100%">
				<h:graphicImage library="imagens" name="logo.gif"/>
			</h:panelGrid>
   		</p:panel>
	</ui:composition>
</html>