<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="corpo">
        <p:panel style="width:100%; margin-bottom:20px">
            
            <h:form id="cidadeForm">

                <p:messages 
                    id="mensagensError" 
                    showDetail="false"
                    autoUpdate="true"
                    severity="error"
                    closable="true" />	

                <h:panelGrid id="infoCidade" columns="2" border="1">						

                    <p:outputLabel value="Nome: " />

                    <p:inputText 
                        id="nomeCidade"
                        label="Nome"
                        maxlength="45"
                        value="#{cidadeBean.cidade.nome}"
                        required="true"
                        requiredMessage="Nome: campo é obrigatório."
                        style="width: 300px" />

                    <p:outputLabel value="Estado: " />
                    <p:selectOneMenu 
                        id="listaEstado"
                        required="true"
                        requiredMessage="Estado: campo é obrigatório."
                        title="Estado"
                        label="Estado"							
                        converter="#{estadoConverter}"
                        value="#{cidadeBean.cidade.estado}">
                        <f:selectItem itemValue="" itemLabel="Selecione o Estado"/>  
                        <f:selectItems value="#{cidadeBean.estados}" var="e" itemLabel="#{e.nome} - #{e.sigla}" itemValue="#{e}" />							
                    </p:selectOneMenu>						
                </h:panelGrid>

                <h:panelGrid id="acoes" columns="2">
                    <p:commandButton
                        id="salvarCidade"
                        value="Salvar"
                        update="@form"
                        icon="ui-icon-disk"
                        action="#{cidadeBean.salvar()}"
                        style="float:left" />

                    <p:commandButton 
                        id="cancelarCidade"
                        value="Cancelar"
                        immediate="true"
                        icon="ui-icon-close"
                        action="#{cidadeBean.cancelar()}"									
                        style="float:left" />
                </h:panelGrid>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>