<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="corpo">
        <p:panel style="width:100%; margin-bottom:20px">						
            <h:form id="estadoForm">

                <p:messages 
                    id="mensagensError" 
                    showDetail="false"
                    autoUpdate="true"
                    severity="error"
                    closable="true" />						

                <h:panelGrid id="infoEstado" columns="2" border="1">						

                    <p:outputLabel value="Nome: " />

                    <p:inputText 
                        id="nomeEstado"
                        label="Nome"
                        maxlength="45"
                        value="#{estadoBean.estado.nome}"
                        required="true"
                        requiredMessage="Nome: campo é obrigatório."
                        style="width: 300px" />							

                    <p:outputLabel value="Sigla: " />

                    <p:inputText
                        id="siglaEstado"
                        label="Sigla"
                        maxlength="2"
                        value="#{estadoBean.estado.sigla}"
                        required="true"
                        requiredMessage="Sigla: campo é obrigatório."
                        style="width: 30px">

                        <f:validateLength minimum="2" />
                    </p:inputText>							
                </h:panelGrid>

                <h:panelGrid id="acoes" columns="2">
                    <p:commandButton
                        id="salvar"
                        value="Salvar"
                        update="@form"
                        icon="ui-icon-disk"
                        action="#{estadoBean.salvar()}"
                        style="float:left" />

                    <p:commandButton 
                        id="cancelar"
                        value="Cancelar"
                        immediate="true"
                        icon="ui-icon-close"
                        action="#{estadoBean.cancelar()}"									
                        style="float:left" />														
                </h:panelGrid>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>